<h1 style="margin-top:100px;">売り上げ入力</h1>

<%= form_tag(earning_earn_path(id:current_user.id), method: :post) do%>
<p>売り上げ</p>
<%= number_field_tag :revenue,class:"form-control"%>円 <br><br>
<p>場所</p>
<%= text_field_tag :location%>
<br>
<%= submit_tag "決定" ,class:"btn btn-dark attendance_btn"%>
<%end%>
