<h1 style="margin-top:100px;">出勤、退勤</h1>

<%if is_working(@user) then%>
<%= button_to "退勤",attendance_out_time_path(id:current_user.id), method: :post,class:"btn btn-success attendance_btn"  %>
<%else%>
<%= button_to "出勤",attendance_in_time_path(id:current_user.id), method: :post,class:"btn btn-success attendance_btn" %>
<%end%>
